.place__image {
  max-width: 460px;
  width: 100%;
}

@media all and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media all and (max-width: 720px) and (min-width: 321px) {
  .place__image {
    max-width: 700px;
  }
}

@media all and (max-width: 320px) {
  .place__image {
    max-width: 320px;
  }
}