.header__logo {
  background-image: url(../../../images/header-logo.svg);
  width: 176px;
  height: 52px;
  position: absolute;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

@media all and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}