.lead__subtitle {
  max-width: 640px;
  max-height: 72px;
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  margin: 32px auto 0;
}

@media all and (max-width: 768px) {
  .lead__subtitle {
    width: 80%;
    font-size: 4vw;
    line-height: normal;
  }
}

@media all and (max-width: 320px) {
  .lead__subtitle {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
}